# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DEB_BUILD_OPTIONS: nocheck
      KERNEL_LOCALVERSION: -cloud

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Maximize build space
        run: |
          echo "-- Dotnet"
          sudo rm -rf /usr/share/dotnet
          echo "-- Android"
          sudo rm -rf /usr/local/lib/android
          echo "-- Haskell"
          sudo rm -rf /opt/ghc
          echo "-- CodeQL"
          sudo rm -rf /opt/hostedtoolcache/CodeQL

          df -h

      - name: Show system & set-timezone
        run: |
          echo -e "Total CPU cores\t: $(nproc)"
          cat /proc/cpuinfo
          cat /proc/meminfo
          sudo timedatectl set-timezone Asia/Shanghai

      - name: Install LLVM/Clang
        run: |
          sudo apt-get update
          sudo apt-get install -y wget lsb-release gnupg
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 21 all
          echo "PATH=/usr/lib/llvm-21/bin:$PATH" >> $GITHUB_ENV

      - name: Install dependencies
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo -E apt-mark hold grub-efi-amd64-signed firefox snapd mysql* || true
          sudo apt-get autoremove -y --purge
          sudo apt-get clean
          sudo -E apt-get -y update
          sudo apt-get update
          sudo apt-get install -y \
            build-essential bc bison flex \
            libssl-dev libelf-dev libncurses-dev \
            libdw-dev debhelper debhelper-compat dpkg-dev devscripts \
            linux-libc-dev linux-firmware curl wget \
            dwarves pahole fakeroot git pkg-config perl \
            rsync xz-utils zstd binutils cpio initramfs-tools
          sudo -E systemctl daemon-reload || true
          sudo apt-get autoremove -y --purge
          sudo apt-get clean

      - name: Clone XanMod kernel
        run: |
          git clone --depth=1 --branch 6.12 https://gitlab.com/xanmod/linux.git kernel

      - name: Cache kernel build
        uses: actions/cache@v5
        with:
          path: |
            kernel/.cache
            kernel/arch/x86
            kernel/drivers
          key: kernel-6.12-xanmod-${{ github.ref }}

      - name: Apply cloud config for KVM VPS
        run:  |
          cd kernel
          cp CONFIGS/xanmod/gcc/config_x86-64-v3 .config
          chmod +x *.sh
          ./${{ github.workspace }}/config.sh CONFIGS/xanmod/gcc/config_x86-64-v3
          make LLVM=1 LLVM_IAS=1 CC=clang LD=ld.lld olddefconfig

          
      - name: Export final kernel .config
        run: |
          mkdir -p artifacts
          cp kernel/.config artifacts/config-6.12-clang-${{ github.run_id }}

      - name: Build kernel vmlinux
        run: |
          cd kernel
          make -j$(nproc) LLVM=1 LLVM_IAS=1 CC=clang LD=ld.lld vmlinux modules_prepare KCFLAGS="-march=x86-64-v3 -O3 -Wno-error"

      - name: Build kernel modules_prepare
        run: |
          cd kernel
          make -j$(nproc) LLVM=1 LLVM_IAS=1 CC=clang LD=ld.lld modules_prepare KCFLAGS="-march=x86-64-v3 -O3 -Wno-error"

      - name: Build kernel deb packages
        run: |
          cd kernel
          KDEB_COMPRESS=xz make -j$(nproc) LLVM=1 LLVM_IAS=1 CC=clang LD=ld.lld bindeb-pkg LOCALVERSION=${KERNEL_LOCALVERSION} KCFLAGS="-march=x86-64-v3 -O3 -Wno-error"

      - name: Collect kernel artifacts
        run: |
          mkdir -p artifacts
          mv linux-image-*.deb artifacts/
          mv linux-headers-*.deb artifacts/

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: xanmod-cloud-${{ github.run_id }}
          name: XanMod Cloud Kernel
          files: artifacts/*

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
