# This is a basic workflow to help you get started with Actions

name: build kernel

# Controls when the workflow will run

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      DEB_BUILD_OPTIONS: nocheck
      KERNEL_LOCALVERSION: -cloud

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: 最大化可用空间
        run: |
          echo "-- Dotnet"
          sudo rm -rf /usr/share/dotnet
          echo "-- Android"
          sudo rm -rf /usr/local/lib/android
          echo "-- Haskell"
          sudo rm -rf /opt/ghc
          echo "-- CodeQL"
          sudo rm -rf /opt/hostedtoolcache/CodeQL

          df -h

      - name: 显示系统信息 & 设置时区
        run: |
          echo -e "Total CPU cores\t: $(nproc)"
          cat /proc/cpuinfo
          cat /proc/meminfo
          sudo timedatectl set-timezone Asia/Shanghai

      - name: 安装 LLVM/Clang
        run: |
          sudo apt-get update
          sudo apt-get install -y wget lsb-release gnupg
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          sudo ./llvm.sh 21 all
          echo "PATH=/usr/lib/llvm-21/bin:$PATH" >> $GITHUB_ENV

      - name: 安装依赖 dependencies
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo -E apt-mark hold grub-efi-amd64-signed firefox snapd mysql* || true
          sudo apt-get autoremove -y --purge
          sudo apt-get clean
          sudo -E apt-get -y update
          sudo apt-get update
          sudo apt-get install -y \
            build-essential bc bison flex \
            libssl-dev libelf-dev libncurses-dev \
            libdw-dev debhelper debhelper-compat dpkg-dev devscripts \
            linux-libc-dev linux-firmware curl wget \
            dwarves pahole fakeroot git pkg-config perl \
            rsync xz-utils zstd binutils cpio initramfs-tools
          sudo -E systemctl daemon-reload || true
          sudo apt-get autoremove -y --purge
          sudo apt-get clean

      - name: 下载 XanMod 内核
        run: |
          git clone --depth=1 --branch 6.12 https://gitlab.com/xanmod/linux.git kernel

      - name: 缓存内核编译源码
        uses: actions/cache@v5
        with:
          path: |
            kernel/arch/x86
            kernel/drivers
            kernel/.tmp_vmlinux*
            kernel/.vmlinux*
          key: kernel-6.12-xanmod-${{ github.ref }}

      - name: 从仓库更新 config 配置
        run:  |
          cd kernel
          cp ../config.sh .
          chmod +x config.sh
          cp CONFIGS/xanmod/gcc/config_x86-64-v3 .config
          ./config.sh
          make LLVM=1 LLVM_IAS=1 CC=clang LD=ld.lld olddefconfig

          
      - name: 导出最终内核配置 .config
        run: |
          mkdir -p artifacts
          cp kernel/.config artifacts/config-6.12-clang-${{ github.run_id }}

      - name: 构建 kernel vmlinux
        run: |
          cd kernel
          make -j$(nproc) LLVM=1 LLVM_IAS=1 CC=clang LD=ld.lld vmlinux modules_prepare KCFLAGS="-march=x86-64-v3 -O3 -Wno-error"

      - name: 构建内核模块 kernel modules_prepare
        run: |
          cd kernel
          make -j$(nproc) LLVM=1 LLVM_IAS=1 CC=clang LD=ld.lld modules_prepare KCFLAGS="-march=x86-64-v3 -O3 -Wno-error"

      - name: 构建内核软件包 kernel deb packages
        run: |
          cd kernel
          KDEB_COMPRESS=xz make -j$(nproc) LLVM=1 LLVM_IAS=1 CC=clang LD=ld.lld bindeb-pkg LOCALVERSION=${KERNEL_LOCALVERSION} KCFLAGS="-march=x86-64-v3 -O3 -Wno-error"

      - name: 查看文件目录
        run: |
          cd kernel
          ls -al
          
      - name: 归档文件 kernel artifacts
        run: |
          mkdir -p artifacts
          mv linux-image-*.deb artifacts/
          mv linux-headers-*.deb artifacts/

      - name: 发布
        uses: softprops/action-gh-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: xanmod-cloud-6.12
          name: XanMod Cloud Kernel
          files: artifacts/*
          overwrite_files: true

      - name: 删除以往工作流
        if: always()
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 30
          keep_minimum_runs: 5

      - name: 删除旧的发布文件
        if: always()
        uses: dev-drprasad/delete-older-releases@master
        with:
          keep_latest: 5
          delete_tags: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

